@keyframes rotate {
  0% {
    transform: rotateY(0deg); }
  100% {
    transform: rotateY(360deg); } }

.flatness {
  border: 5px dashed green;
  width: 300px;
  height: 300px;
  position: absolute; }

* {
  box-sizing: border-box; }

body {
  background-color: black; }

.container {
  display: block;
  position: relative;
  margin: 200px auto;
  width: 300px;
  height: 300px;
  perspective: 600px; }

.cube {
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  animation: rotate 3s linear infinite; }

.top-flatness {
  transform: rotateX(90deg) translateZ(150px); }

.bottom-flatness {
  transform: rotateX(-90deg) translateZ(150px); }

.right-flatness {
  transform: rotateY(90deg) translateZ(150px); }

.front-flatness {
  transform: translateZ(150px); }

.left-flatness {
  transform: rotateY(-90deg) translateZ(150px); }

.back-flatness {
  transform: rotateY(180deg) translateZ(150px); }
